.Todolist {
  width: 400px;
}

.Todolist_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
}

.Todolist_text {
  margin-top: 5px;
}
